* {
  box-sizing: border-box;
}

h1, h2, h3, article {
    margin-left: 40px;
    margin-right: 40px;
}    
h2 {
    font-size: 40px;
    color: #e5474b;
}

hr {
    border: 0;
    border-bottom: solid 1px;
    border-bottom-color: #e5474b; 
    margin: 2em 0;
    margin-left: 40px;
    margin-right: 40px;
  }
 
table, td, th {    
    border: 1px solid #e5474b;
    text-align: center;
}


table {
    border-collapse: collapse;
    width: 95%;
    margin: 0 0 2em 0;
    margin-left: 40px;
    margin-right: 40px;
}

th, td {
    padding: 15px;
}


input[type=number], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin: 9px 5px;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=button] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin: 9px 5px;
}

input[type=button]:hover {
  background-color: #45a049;
}


input[type=button2] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 600px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: center;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

input[type=button2]:hover {
  background-color: #45a049;
}

footer {
    background-color: #e5474b;
    color: #f2a3a5;
    padding: 10px;
    font-size: 80%;
  }

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}